<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.meeting.dao.mapper.MeetingParticipantRecipiantTaskMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="participantId" jdbcType="INTEGER" property="participantid" />
    <result column="batchId" jdbcType="INTEGER" property="batchid" />
    <result column="completeStatus" jdbcType="VARCHAR" property="completestatus" />
    <result column="creationTimestamp" jdbcType="BIGINT" property="creationtimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, participantId, batchId, completeStatus, creationTimestamp
  </sql>
  <select id="selectByExample" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MEETING_Participant_Recipiant_Task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MEETING_Participant_Recipiant_Task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MEETING_Participant_Recipiant_Task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTaskExample">
    delete from MEETING_Participant_Recipiant_Task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTask">
    insert into MEETING_Participant_Recipiant_Task (id, participantId, batchId, 
      completeStatus, creationTimestamp)
    values (#{id,jdbcType=INTEGER}, #{participantid,jdbcType=INTEGER}, #{batchid,jdbcType=INTEGER}, 
      #{completestatus,jdbcType=VARCHAR}, #{creationtimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTask">
    insert into MEETING_Participant_Recipiant_Task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="participantid != null">
        participantId,
      </if>
      <if test="batchid != null">
        batchId,
      </if>
      <if test="completestatus != null">
        completeStatus,
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="participantid != null">
        #{participantid,jdbcType=INTEGER},
      </if>
      <if test="batchid != null">
        #{batchid,jdbcType=INTEGER},
      </if>
      <if test="completestatus != null">
        #{completestatus,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTaskExample" resultType="java.lang.Long">
    select count(*) from MEETING_Participant_Recipiant_Task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MEETING_Participant_Recipiant_Task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.participantid != null">
        participantId = #{record.participantid,jdbcType=INTEGER},
      </if>
      <if test="record.batchid != null">
        batchId = #{record.batchid,jdbcType=INTEGER},
      </if>
      <if test="record.completestatus != null">
        completeStatus = #{record.completestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtimestamp != null">
        creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MEETING_Participant_Recipiant_Task
    set id = #{record.id,jdbcType=INTEGER},
      participantId = #{record.participantid,jdbcType=INTEGER},
      batchId = #{record.batchid,jdbcType=INTEGER},
      completeStatus = #{record.completestatus,jdbcType=VARCHAR},
      creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTask">
    update MEETING_Participant_Recipiant_Task
    <set>
      <if test="participantid != null">
        participantId = #{participantid,jdbcType=INTEGER},
      </if>
      <if test="batchid != null">
        batchId = #{batchid,jdbcType=INTEGER},
      </if>
      <if test="completestatus != null">
        completeStatus = #{completestatus,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp = #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantTask">
    update MEETING_Participant_Recipiant_Task
    set participantId = #{participantid,jdbcType=INTEGER},
      batchId = #{batchid,jdbcType=INTEGER},
      completeStatus = #{completestatus,jdbcType=VARCHAR},
      creationTimestamp = #{creationtimestamp,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>