<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.meeting.dao.mapper.MeetingMeetingMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.meeting.dao.model.MeetingMeeting">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meetingSubject" jdbcType="VARCHAR" property="meetingsubject" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="beginAt" jdbcType="DATE" property="beginat" />
    <result column="endAt" jdbcType="DATE" property="endat" />
    <result column="organizer" jdbcType="VARCHAR" property="organizer" />
    <result column="participantNumber" jdbcType="INTEGER" property="participantnumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contactInfo" jdbcType="VARCHAR" property="contactinfo" />
    <result column="creationTimestamp" jdbcType="BIGINT" property="creationtimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, meetingSubject, introduction, beginAt, endAt, organizer, participantNumber, address, 
    contactInfo, creationTimestamp
  </sql>
  <select id="selectByExample" parameterType="com.huiyi.meeting.dao.model.MeetingMeetingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MEETING_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MEETING_meeting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MEETING_meeting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huiyi.meeting.dao.model.MeetingMeetingExample">
    delete from MEETING_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huiyi.meeting.dao.model.MeetingMeeting">
    insert into MEETING_meeting (id, meetingSubject, introduction, 
      beginAt, endAt, organizer, 
      participantNumber, address, contactInfo, 
      creationTimestamp)
    values (#{id,jdbcType=INTEGER}, #{meetingsubject,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{beginat,jdbcType=DATE}, #{endat,jdbcType=DATE}, #{organizer,jdbcType=VARCHAR}, 
      #{participantnumber,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{contactinfo,jdbcType=VARCHAR}, 
      #{creationtimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huiyi.meeting.dao.model.MeetingMeeting">
    insert into MEETING_meeting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meetingsubject != null">
        meetingSubject,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="beginat != null">
        beginAt,
      </if>
      <if test="endat != null">
        endAt,
      </if>
      <if test="organizer != null">
        organizer,
      </if>
      <if test="participantnumber != null">
        participantNumber,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="contactinfo != null">
        contactInfo,
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="meetingsubject != null">
        #{meetingsubject,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="beginat != null">
        #{beginat,jdbcType=DATE},
      </if>
      <if test="endat != null">
        #{endat,jdbcType=DATE},
      </if>
      <if test="organizer != null">
        #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="participantnumber != null">
        #{participantnumber,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactinfo != null">
        #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huiyi.meeting.dao.model.MeetingMeetingExample" resultType="java.lang.Long">
    select count(*) from MEETING_meeting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MEETING_meeting
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.meetingsubject != null">
        meetingSubject = #{record.meetingsubject,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.beginat != null">
        beginAt = #{record.beginat,jdbcType=DATE},
      </if>
      <if test="record.endat != null">
        endAt = #{record.endat,jdbcType=DATE},
      </if>
      <if test="record.organizer != null">
        organizer = #{record.organizer,jdbcType=VARCHAR},
      </if>
      <if test="record.participantnumber != null">
        participantNumber = #{record.participantnumber,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.contactinfo != null">
        contactInfo = #{record.contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtimestamp != null">
        creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MEETING_meeting
    set id = #{record.id,jdbcType=INTEGER},
      meetingSubject = #{record.meetingsubject,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      beginAt = #{record.beginat,jdbcType=DATE},
      endAt = #{record.endat,jdbcType=DATE},
      organizer = #{record.organizer,jdbcType=VARCHAR},
      participantNumber = #{record.participantnumber,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      contactInfo = #{record.contactinfo,jdbcType=VARCHAR},
      creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.meeting.dao.model.MeetingMeeting">
    update MEETING_meeting
    <set>
      <if test="meetingsubject != null">
        meetingSubject = #{meetingsubject,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="beginat != null">
        beginAt = #{beginat,jdbcType=DATE},
      </if>
      <if test="endat != null">
        endAt = #{endat,jdbcType=DATE},
      </if>
      <if test="organizer != null">
        organizer = #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="participantnumber != null">
        participantNumber = #{participantnumber,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactinfo != null">
        contactInfo = #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp = #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiyi.meeting.dao.model.MeetingMeeting">
    update MEETING_meeting
    set meetingSubject = #{meetingsubject,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      beginAt = #{beginat,jdbcType=DATE},
      endAt = #{endat,jdbcType=DATE},
      organizer = #{organizer,jdbcType=VARCHAR},
      participantNumber = #{participantnumber,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      contactInfo = #{contactinfo,jdbcType=VARCHAR},
      creationTimestamp = #{creationtimestamp,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>