<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.meeting.dao.mapper.MeetingStatementMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.meeting.dao.model.MeetingStatement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    <result column="fee" jdbcType="REAL" property="fee" />
    <result column="uploadedDateTime" jdbcType="DATE" property="uploadeddatetime" />
    <result column="isDisable" jdbcType="VARCHAR" property="isdisable" />
    <result column="creationTimestamp" jdbcType="BIGINT" property="creationtimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, companyName, fee, uploadedDateTime, isDisable, creationTimestamp
  </sql>
  <select id="selectByExample" parameterType="com.huiyi.meeting.dao.model.MeetingStatementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MEETING_Statement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MEETING_Statement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MEETING_Statement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huiyi.meeting.dao.model.MeetingStatementExample">
    delete from MEETING_Statement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huiyi.meeting.dao.model.MeetingStatement">
    insert into MEETING_Statement (id, companyName, fee, 
      uploadedDateTime, isDisable, creationTimestamp
      )
    values (#{id,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR}, #{fee,jdbcType=REAL}, 
      #{uploadeddatetime,jdbcType=DATE}, #{isdisable,jdbcType=VARCHAR}, #{creationtimestamp,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huiyi.meeting.dao.model.MeetingStatement">
    insert into MEETING_Statement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyname != null">
        companyName,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="uploadeddatetime != null">
        uploadedDateTime,
      </if>
      <if test="isdisable != null">
        isDisable,
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=REAL},
      </if>
      <if test="uploadeddatetime != null">
        #{uploadeddatetime,jdbcType=DATE},
      </if>
      <if test="isdisable != null">
        #{isdisable,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huiyi.meeting.dao.model.MeetingStatementExample" resultType="java.lang.Long">
    select count(*) from MEETING_Statement
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MEETING_Statement
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyname != null">
        companyName = #{record.companyname,jdbcType=VARCHAR},
      </if>
      <if test="record.fee != null">
        fee = #{record.fee,jdbcType=REAL},
      </if>
      <if test="record.uploadeddatetime != null">
        uploadedDateTime = #{record.uploadeddatetime,jdbcType=DATE},
      </if>
      <if test="record.isdisable != null">
        isDisable = #{record.isdisable,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtimestamp != null">
        creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MEETING_Statement
    set id = #{record.id,jdbcType=INTEGER},
      companyName = #{record.companyname,jdbcType=VARCHAR},
      fee = #{record.fee,jdbcType=REAL},
      uploadedDateTime = #{record.uploadeddatetime,jdbcType=DATE},
      isDisable = #{record.isdisable,jdbcType=VARCHAR},
      creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.meeting.dao.model.MeetingStatement">
    update MEETING_Statement
    <set>
      <if test="companyname != null">
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=REAL},
      </if>
      <if test="uploadeddatetime != null">
        uploadedDateTime = #{uploadeddatetime,jdbcType=DATE},
      </if>
      <if test="isdisable != null">
        isDisable = #{isdisable,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp = #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiyi.meeting.dao.model.MeetingStatement">
    update MEETING_Statement
    set companyName = #{companyname,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=REAL},
      uploadedDateTime = #{uploadeddatetime,jdbcType=DATE},
      isDisable = #{isdisable,jdbcType=VARCHAR},
      creationTimestamp = #{creationtimestamp,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>