<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.meeting.dao.mapper.MeetingForumMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.meeting.dao.model.MeetingForum">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="agenda" jdbcType="VARCHAR" property="agenda" />
    <result column="numOfQuestion" jdbcType="INTEGER" property="numofquestion" />
    <result column="roundName" jdbcType="VARCHAR" property="roundname" />
    <result column="meetingId" jdbcType="INTEGER" property="meetingid" />
    <result column="creationTimestamp" jdbcType="BIGINT" property="creationtimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, topic, agenda, numOfQuestion, roundName, meetingId, creationTimestamp
  </sql>
  <select id="selectByExample" parameterType="com.huiyi.meeting.dao.model.MeetingForumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MEETING_Forum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MEETING_Forum
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MEETING_Forum
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huiyi.meeting.dao.model.MeetingForumExample">
    delete from MEETING_Forum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huiyi.meeting.dao.model.MeetingForum">
    insert into MEETING_Forum (id, topic, agenda, 
      numOfQuestion, roundName, meetingId, 
      creationTimestamp)
    values (#{id,jdbcType=INTEGER}, #{topic,jdbcType=VARCHAR}, #{agenda,jdbcType=VARCHAR}, 
      #{numofquestion,jdbcType=INTEGER}, #{roundname,jdbcType=VARCHAR}, #{meetingid,jdbcType=INTEGER}, 
      #{creationtimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huiyi.meeting.dao.model.MeetingForum">
    insert into MEETING_Forum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="agenda != null">
        agenda,
      </if>
      <if test="numofquestion != null">
        numOfQuestion,
      </if>
      <if test="roundname != null">
        roundName,
      </if>
      <if test="meetingid != null">
        meetingId,
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="agenda != null">
        #{agenda,jdbcType=VARCHAR},
      </if>
      <if test="numofquestion != null">
        #{numofquestion,jdbcType=INTEGER},
      </if>
      <if test="roundname != null">
        #{roundname,jdbcType=VARCHAR},
      </if>
      <if test="meetingid != null">
        #{meetingid,jdbcType=INTEGER},
      </if>
      <if test="creationtimestamp != null">
        #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huiyi.meeting.dao.model.MeetingForumExample" resultType="java.lang.Long">
    select count(*) from MEETING_Forum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MEETING_Forum
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.topic != null">
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.agenda != null">
        agenda = #{record.agenda,jdbcType=VARCHAR},
      </if>
      <if test="record.numofquestion != null">
        numOfQuestion = #{record.numofquestion,jdbcType=INTEGER},
      </if>
      <if test="record.roundname != null">
        roundName = #{record.roundname,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingid != null">
        meetingId = #{record.meetingid,jdbcType=INTEGER},
      </if>
      <if test="record.creationtimestamp != null">
        creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MEETING_Forum
    set id = #{record.id,jdbcType=INTEGER},
      topic = #{record.topic,jdbcType=VARCHAR},
      agenda = #{record.agenda,jdbcType=VARCHAR},
      numOfQuestion = #{record.numofquestion,jdbcType=INTEGER},
      roundName = #{record.roundname,jdbcType=VARCHAR},
      meetingId = #{record.meetingid,jdbcType=INTEGER},
      creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.meeting.dao.model.MeetingForum">
    update MEETING_Forum
    <set>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="agenda != null">
        agenda = #{agenda,jdbcType=VARCHAR},
      </if>
      <if test="numofquestion != null">
        numOfQuestion = #{numofquestion,jdbcType=INTEGER},
      </if>
      <if test="roundname != null">
        roundName = #{roundname,jdbcType=VARCHAR},
      </if>
      <if test="meetingid != null">
        meetingId = #{meetingid,jdbcType=INTEGER},
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp = #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiyi.meeting.dao.model.MeetingForum">
    update MEETING_Forum
    set topic = #{topic,jdbcType=VARCHAR},
      agenda = #{agenda,jdbcType=VARCHAR},
      numOfQuestion = #{numofquestion,jdbcType=INTEGER},
      roundName = #{roundname,jdbcType=VARCHAR},
      meetingId = #{meetingid,jdbcType=INTEGER},
      creationTimestamp = #{creationtimestamp,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>