<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.meeting.dao.mapper.MeetingParticipantRecipiantBatchTaskMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="stationId" jdbcType="INTEGER" property="stationid" />
    <result column="hotelId" jdbcType="INTEGER" property="hotelid" />
    <result column="meetingRoomId" jdbcType="INTEGER" property="meetingroomid" />
    <result column="startTime" jdbcType="DATE" property="starttime" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="personInCharge" jdbcType="VARCHAR" property="personincharge" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
    <result column="creationTimestamp" jdbcType="BIGINT" property="creationtimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, stationId, hotelId, meetingRoomId, startTime, endTime, personInCharge, 
    attachment, creationTimestamp
  </sql>
  <select id="selectByExample" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MEETING_Participant_Recipiant_Batch_Task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MEETING_Participant_Recipiant_Batch_Task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MEETING_Participant_Recipiant_Batch_Task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTaskExample">
    delete from MEETING_Participant_Recipiant_Batch_Task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTask">
    insert into MEETING_Participant_Recipiant_Batch_Task (id, type, stationId, 
      hotelId, meetingRoomId, startTime, 
      endTime, personInCharge, attachment, 
      creationTimestamp)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{stationid,jdbcType=INTEGER}, 
      #{hotelid,jdbcType=INTEGER}, #{meetingroomid,jdbcType=INTEGER}, #{starttime,jdbcType=DATE}, 
      #{endtime,jdbcType=DATE}, #{personincharge,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, 
      #{creationtimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTask">
    insert into MEETING_Participant_Recipiant_Batch_Task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="stationid != null">
        stationId,
      </if>
      <if test="hotelid != null">
        hotelId,
      </if>
      <if test="meetingroomid != null">
        meetingRoomId,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="personincharge != null">
        personInCharge,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="stationid != null">
        #{stationid,jdbcType=INTEGER},
      </if>
      <if test="hotelid != null">
        #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="meetingroomid != null">
        #{meetingroomid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="personincharge != null">
        #{personincharge,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTaskExample" resultType="java.lang.Long">
    select count(*) from MEETING_Participant_Recipiant_Batch_Task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MEETING_Participant_Recipiant_Batch_Task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.stationid != null">
        stationId = #{record.stationid,jdbcType=INTEGER},
      </if>
      <if test="record.hotelid != null">
        hotelId = #{record.hotelid,jdbcType=INTEGER},
      </if>
      <if test="record.meetingroomid != null">
        meetingRoomId = #{record.meetingroomid,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=DATE},
      </if>
      <if test="record.endtime != null">
        endTime = #{record.endtime,jdbcType=DATE},
      </if>
      <if test="record.personincharge != null">
        personInCharge = #{record.personincharge,jdbcType=VARCHAR},
      </if>
      <if test="record.attachment != null">
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtimestamp != null">
        creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MEETING_Participant_Recipiant_Batch_Task
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      stationId = #{record.stationid,jdbcType=INTEGER},
      hotelId = #{record.hotelid,jdbcType=INTEGER},
      meetingRoomId = #{record.meetingroomid,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=DATE},
      endTime = #{record.endtime,jdbcType=DATE},
      personInCharge = #{record.personincharge,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTask">
    update MEETING_Participant_Recipiant_Batch_Task
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="stationid != null">
        stationId = #{stationid,jdbcType=INTEGER},
      </if>
      <if test="hotelid != null">
        hotelId = #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="meetingroomid != null">
        meetingRoomId = #{meetingroomid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="personincharge != null">
        personInCharge = #{personincharge,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp = #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiyi.meeting.dao.model.MeetingParticipantRecipiantBatchTask">
    update MEETING_Participant_Recipiant_Batch_Task
    set type = #{type,jdbcType=VARCHAR},
      stationId = #{stationid,jdbcType=INTEGER},
      hotelId = #{hotelid,jdbcType=INTEGER},
      meetingRoomId = #{meetingroomid,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=DATE},
      endTime = #{endtime,jdbcType=DATE},
      personInCharge = #{personincharge,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      creationTimestamp = #{creationtimestamp,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>