<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyi.meeting.dao.mapper.MeetingRegistMapper">
  <resultMap id="BaseResultMap" type="com.huiyi.meeting.dao.model.MeetingRegist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="feeConfirmTime" jdbcType="DATE" property="feeconfirmtime" />
    <result column="isInvoiced" jdbcType="VARCHAR" property="isinvoiced" />
    <result column="creationTimestamp" jdbcType="BIGINT" property="creationtimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, feeConfirmTime, isInvoiced, creationTimestamp
  </sql>
  <select id="selectByExample" parameterType="com.huiyi.meeting.dao.model.MeetingRegistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MEETING_Regist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MEETING_Regist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MEETING_Regist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huiyi.meeting.dao.model.MeetingRegistExample">
    delete from MEETING_Regist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huiyi.meeting.dao.model.MeetingRegist">
    insert into MEETING_Regist (id, feeConfirmTime, isInvoiced, 
      creationTimestamp)
    values (#{id,jdbcType=INTEGER}, #{feeconfirmtime,jdbcType=DATE}, #{isinvoiced,jdbcType=VARCHAR}, 
      #{creationtimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huiyi.meeting.dao.model.MeetingRegist">
    insert into MEETING_Regist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="feeconfirmtime != null">
        feeConfirmTime,
      </if>
      <if test="isinvoiced != null">
        isInvoiced,
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="feeconfirmtime != null">
        #{feeconfirmtime,jdbcType=DATE},
      </if>
      <if test="isinvoiced != null">
        #{isinvoiced,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huiyi.meeting.dao.model.MeetingRegistExample" resultType="java.lang.Long">
    select count(*) from MEETING_Regist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MEETING_Regist
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.feeconfirmtime != null">
        feeConfirmTime = #{record.feeconfirmtime,jdbcType=DATE},
      </if>
      <if test="record.isinvoiced != null">
        isInvoiced = #{record.isinvoiced,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtimestamp != null">
        creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MEETING_Regist
    set id = #{record.id,jdbcType=INTEGER},
      feeConfirmTime = #{record.feeconfirmtime,jdbcType=DATE},
      isInvoiced = #{record.isinvoiced,jdbcType=VARCHAR},
      creationTimestamp = #{record.creationtimestamp,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiyi.meeting.dao.model.MeetingRegist">
    update MEETING_Regist
    <set>
      <if test="feeconfirmtime != null">
        feeConfirmTime = #{feeconfirmtime,jdbcType=DATE},
      </if>
      <if test="isinvoiced != null">
        isInvoiced = #{isinvoiced,jdbcType=VARCHAR},
      </if>
      <if test="creationtimestamp != null">
        creationTimestamp = #{creationtimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiyi.meeting.dao.model.MeetingRegist">
    update MEETING_Regist
    set feeConfirmTime = #{feeconfirmtime,jdbcType=DATE},
      isInvoiced = #{isinvoiced,jdbcType=VARCHAR},
      creationTimestamp = #{creationtimestamp,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>