HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### gradle ###
.gradle/
.gradle/**/**
.gradle/7*/**/**
.gradle/7.5/checksums/sha1-checksums.bin
.gradle/file-system.probe
.gradle/7.5/checksums/checksums.lock
.gradle/7.5/checksums/md5-checksums.bin
.gradle/7.5/checksums/sha1-checksums.bin
.gradle/7.5/executionHistory/executionHistory.bin
.gradle/7.5/executionHistory/executionHistory.lock
.gradle/7.5/fileHashes/fileHashes.bin
.gradle/7.5/fileHashes/fileHashes.lock
.gradle/7.5/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/7.5/checksums/checksums.lock
.gradle/7.5/checksums/md5-checksums.bin
.gradle/7.5/checksums/sha1-checksums.bin
.gradle/7.5/executionHistory/executionHistory.bin
.gradle/7.5/executionHistory/executionHistory.lock
.gradle/7.5/fileHashes/fileHashes.bin
.gradle/7.5/fileHashes/fileHashes.lock
.gradle/7.5/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
