package ${package_name}.service;

import com.ylsq.frame.common.base.BaseService;
import ${package_name}.dao.model.${model_name};
import ${package_name}.dao.model.${model_name}Example;

/**
* ${model_name}Service接口
* Created by harper
*/
public interface ${model_name}Service extends BaseService<${model_name}, ${model_name}Example> {

}