package ${package_name}.service.impl;

import com.ylsq.frame.common.annotation.BaseService;
import com.ylsq.frame.common.base.BaseServiceImpl;
import ${package_name}.dao.mapper.${model_name}Mapper;
import ${package_name}.dao.model.${model_name};
import ${package_name}.dao.model.${model_name}Example;
import ${package_name}.service.${model_name}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* ${model_name}Service实现
* Created by harper
*/
@Service
@Transactional
@BaseService
public class ${model_name}ServiceImpl extends BaseServiceImpl<${model_name}Mapper, ${model_name}, ${model_name}Example> implements ${model_name}Service {

    private static final Logger log = LoggerFactory.getLogger(${model_name}ServiceImpl.class);

    @Autowired
    ${model_name}Mapper ${mapper}Mapper;

}