  
  <div class="title_left">
    <h3>Secu Users</h3>
  </div>
   <div class="x_content">

<p>
	<button type="button" class="btn btn-round btn-primary" onclick="create()">Create</button>
	<button type="button" class="btn btn-round btn-primary" onclick="deletemultiple()">Delete</button>
</p>

<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
    <thead>
      <tr class="headings">
        <th>
          <input type="checkbox" id="check-all" class="flat">
        </th>
        <th class="column-title"> User Name </th>
        <th class="column-title"> Real Name </th>
        <th class="column-title"> Gender </th>
        <th class="column-title"> Phone Number </th>
        <th class="column-title"> Email </th>
        <th class="column-title"> Create Time </th>
        <th class="column-title"> Create User </th>
        <th class="column-title no-link last">
        	<span class="nobr">
        		Operation
        	</span>
        </th>
        <th class="bulk-actions" colspan="8">
          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
        </th>
      </tr>
    </thead>

    <tbody>
    	#foreach ($secuUser in $modelList)
    
      <tr class="#if($foreach.count %2 ==0) even #else odd #end pointer">
        <td class="a-center ">
          <input type="checkbox" class="flat" name="table_records" value="$!{secuUser.id}">
        </td>
        <td class=" "> $!{secuUser.userName} </td>
        <td class=" "> $!{secuUser.realName} </td>
        <td class=" "> $!{secuUser.gender} </td>
        <td class=" "> $!{secuUser.phone} </td>
        <td class=" "> $!{secuUser.email} </td>
        <td class=" "> $!date.format("yyyy-MM-dd HH:mm:ss",$!secuUser.createTime ) </td>
        <td class=" "> $!{secuUser.createUser} </td>
        <td class=" last">
			<a href="#" onclick="editRecord(this)">Edit</a> &nbsp;
			<a href="#" onclick="delRecord(this)">Delete</a> &nbsp;
			<a href="#" onclick="configRoles('$!{secuUser.userName}')">Roles</a> &nbsp;
        </td>
      </tr>
      #end
    </tbody>
  </table>
	</div>
</div>

<script>
var ID_INDEX=1
function create(){
	location = "$rc.contextPath/sys/user/create.n"
}
function deletemultiple(){
	var ids = "";
	var selted = $("input[name='table_records']:checked");
	$(selted).each(function(){
		ids = ids + (ids.length===0?'':'-') + $(this).val();
	});
	if($(selted).length==0){
		return;
	}
	if(confirm('确认要删除此'+$(selted).length+'条记录？')){
		location = "$rc.contextPath/sys/user/delete/"+ids+".n"
	}
}
function editRecord(o){
	var objId = $(o).parent().parent().find("td:nth-child("+ID_INDEX+")").find("input:first-child").val().trim();
	location = "$rc.contextPath/sys/user/edit/"+objId+".n"
}
function delRecord(o){
	if (confirm('确认要删除此记录？')) {
		var objId = $(o).parent().parent().find("td:nth-child("+ID_INDEX+")").find("input:first-child").val().trim();
		location = "$rc.contextPath/sys/user/delete/"+objId+".n"
	}
}
function configRoles(uname){
	location = "$rc.contextPath/sys/user/configRoles/"+uname+".n"
}
</script>