 
<div class="title_left">
	<h3>软件版本编辑</h3>
</div>

<div class="x_content">
	<br />
	<form id="editForm" data-parsley-validate class="form-horizontal form-label-left" action="$rc.contextPath/tz/client/save" method="post">
		<input type="hidden" name="id" value="$!{model.id}">
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 名称 <span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="clientName" value="$!{model.clientName}" required="required" class="form-control col-md-7 col-xs-12">
			</div>
		</div>
		<div class="form-group">
		    <label for="dataType" class="control-label col-md-3 col-sm-3 col-xs-12"> 版本 </label>
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="clientVersion" value="$!{model.clientVersion}"class="form-control col-md-7 col-xs-12">
			</div>
		</div>
		<div class="form-group">
		    <label for="dataType" class="control-label col-md-3 col-sm-3 col-xs-12"> 是否强制升级 </label>
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				#buildSelect ($$alternativeList "forceFlag" "$model.forceFlag" "value1" "value2")
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Md5值
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="clientMd5" value="$!{model.clientMd5}" class="form-control col-md-7 col-xs-12">
			</div>
		</div>
	
		<div class="ln_solid"></div>
		<div class="form-group">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	  			<button class="btn btn-primary" type="button" onclick="goback()">Cancel</button>
	  			<button type="button" onclick="saveClient()" class="btn btn-success">Submit</button>
	    	</div>
	  	</div>
	
	</form>
</div>
<script>
function goback(){
	location = "$rc.contextPath/tz/client/list";
}
function saveClient(){
 	$("#editForm").submit();
}

</script>