
<div class="title_left">
    <h3>外发审批</h3>
</div>
<div class="x_content">
	
	<div class="table-responsive">
		<table class="table table-striped jambo_table bulk_action">
	    	<thead>
		      	<tr class="headings">
			        <th>
			          	<input type="checkbox" id="check-all" class="flat">
			        </th>
			        <th class="column-title"> 接收人员 </th>
			        <th class="column-title"> 接收单位 </th>
			        <th class="column-title"> 策略 </th>
			        <th class="column-title"> 文件 </th>
			        <th class="column-title"> 状态 </th>
			        <th class="column-title"> Create Time </th>
			        <th class="column-title"> Create User </th>
			        <th class="column-title no-link last">
			        	<span class="nobr">
			        		Operation
			        	</span>
			        </th>
			        <th class="bulk-actions" colspan="9">
			          	<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
			        </th>
		      	</tr>
	    	</thead>
			<tbody>
			#foreach ($model in $modelList)
				<tr class="#if($foreach.count %2 ==0) even #else odd #end pointer">
		        	<td class="a-center ">
		          		<input type="checkbox" class="flat" name="table_records" value="$!{model.id}">
			        </td>
			        <td class=" "> $!{model.recipient} </td>
			        <td class=" "> $!{model.recipientOrg} </td>
			        <td class=" "> $!{model.strategyId} </td>
			        <td class=" "> $!{model.fileId} </td>
			        <td class=" "> #dictDisplay($statusList $model.approveStatus "value1" "value2") </td>
			        <td class=" "> $!date.format("yyyy-MM-dd HH:mm:ss",$!model.createTime ) </td>
			        <td class=" "> $!{model.createUser} </td>
			        <td class=" last">
						<a href="#" onclick="approveRecord(this)">批准</a> &nbsp;&nbsp;
						<a href="#" onclick="rejectRecord(this)">退回</a> 
			        </td>
				</tr>
			#end
	    	</tbody>
  		</table>
	</div>
		
	#parse("/include/pagination.vm")
</div>

<script>
var ID_INDEX=1
function approveRecord(o){
	var objId = $(o).parent().parent().find("td:nth-child("+ID_INDEX+")").find("input:first-child").val().trim();
	location = "$rc.contextPath/tz/approval/pass/"+objId
}
function rejectRecord(o){
	var objId = $(o).parent().parent().find("td:nth-child("+ID_INDEX+")").find("input:first-child").val().trim();
	location = "$rc.contextPath/tz/approval/reject/"+objId
}
</script>