<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylsq.frame.tianze.strategy.dao.mapper.TzStrategyWatermarkMapper">
  <resultMap id="BaseResultMap" type="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermark">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="display_usrname" jdbcType="INTEGER" property="displayUsrname" />
    <result column="display_pcname" jdbcType="INTEGER" property="displayPcname" />
    <result column="display_ip" jdbcType="INTEGER" property="displayIp" />
    <result column="display_login_time" jdbcType="INTEGER" property="displayLoginTime" />
    <result column="pos_center" jdbcType="INTEGER" property="posCenter" />
    <result column="pos_lefttop" jdbcType="INTEGER" property="posLefttop" />
    <result column="pos_leftbottom" jdbcType="INTEGER" property="posLeftbottom" />
    <result column="pos_righttop" jdbcType="INTEGER" property="posRighttop" />
    <result column="pos_rightbottom" jdbcType="INTEGER" property="posRightbottom" />
    <result column="layout" jdbcType="VARCHAR" property="layout" />
    <result column="display_condition" jdbcType="VARCHAR" property="displayCondition" />
    <result column="transparency" jdbcType="INTEGER" property="transparency" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="rec_status" jdbcType="INTEGER" property="recStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, strategy_id, content, display_usrname, display_pcname, display_ip, display_login_time, 
    pos_center, pos_lefttop, pos_leftbottom, pos_righttop, pos_rightbottom, layout, display_condition, 
    transparency, create_time, create_user, rec_status
  </sql>
  <select id="selectByExample" parameterType="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermarkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_strategy_watermark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tz_strategy_watermark
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tz_strategy_watermark
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermarkExample">
    delete from tz_strategy_watermark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermark">
    insert into tz_strategy_watermark (id, strategy_id, content, 
      display_usrname, display_pcname, display_ip, 
      display_login_time, pos_center, pos_lefttop, 
      pos_leftbottom, pos_righttop, pos_rightbottom, 
      layout, display_condition, transparency, 
      create_time, create_user, rec_status
      )
    values (#{id,jdbcType=BIGINT}, #{strategyId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{displayUsrname,jdbcType=INTEGER}, #{displayPcname,jdbcType=INTEGER}, #{displayIp,jdbcType=INTEGER}, 
      #{displayLoginTime,jdbcType=INTEGER}, #{posCenter,jdbcType=INTEGER}, #{posLefttop,jdbcType=INTEGER}, 
      #{posLeftbottom,jdbcType=INTEGER}, #{posRighttop,jdbcType=INTEGER}, #{posRightbottom,jdbcType=INTEGER}, 
      #{layout,jdbcType=VARCHAR}, #{displayCondition,jdbcType=VARCHAR}, #{transparency,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{recStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermark">
    insert into tz_strategy_watermark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="strategyId != null">
        strategy_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="displayUsrname != null">
        display_usrname,
      </if>
      <if test="displayPcname != null">
        display_pcname,
      </if>
      <if test="displayIp != null">
        display_ip,
      </if>
      <if test="displayLoginTime != null">
        display_login_time,
      </if>
      <if test="posCenter != null">
        pos_center,
      </if>
      <if test="posLefttop != null">
        pos_lefttop,
      </if>
      <if test="posLeftbottom != null">
        pos_leftbottom,
      </if>
      <if test="posRighttop != null">
        pos_righttop,
      </if>
      <if test="posRightbottom != null">
        pos_rightbottom,
      </if>
      <if test="layout != null">
        layout,
      </if>
      <if test="displayCondition != null">
        display_condition,
      </if>
      <if test="transparency != null">
        transparency,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="recStatus != null">
        rec_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="strategyId != null">
        #{strategyId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="displayUsrname != null">
        #{displayUsrname,jdbcType=INTEGER},
      </if>
      <if test="displayPcname != null">
        #{displayPcname,jdbcType=INTEGER},
      </if>
      <if test="displayIp != null">
        #{displayIp,jdbcType=INTEGER},
      </if>
      <if test="displayLoginTime != null">
        #{displayLoginTime,jdbcType=INTEGER},
      </if>
      <if test="posCenter != null">
        #{posCenter,jdbcType=INTEGER},
      </if>
      <if test="posLefttop != null">
        #{posLefttop,jdbcType=INTEGER},
      </if>
      <if test="posLeftbottom != null">
        #{posLeftbottom,jdbcType=INTEGER},
      </if>
      <if test="posRighttop != null">
        #{posRighttop,jdbcType=INTEGER},
      </if>
      <if test="posRightbottom != null">
        #{posRightbottom,jdbcType=INTEGER},
      </if>
      <if test="layout != null">
        #{layout,jdbcType=VARCHAR},
      </if>
      <if test="displayCondition != null">
        #{displayCondition,jdbcType=VARCHAR},
      </if>
      <if test="transparency != null">
        #{transparency,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="recStatus != null">
        #{recStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermarkExample" resultType="java.lang.Long">
    select count(*) from tz_strategy_watermark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tz_strategy_watermark
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.strategyId != null">
        strategy_id = #{record.strategyId,jdbcType=BIGINT},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.displayUsrname != null">
        display_usrname = #{record.displayUsrname,jdbcType=INTEGER},
      </if>
      <if test="record.displayPcname != null">
        display_pcname = #{record.displayPcname,jdbcType=INTEGER},
      </if>
      <if test="record.displayIp != null">
        display_ip = #{record.displayIp,jdbcType=INTEGER},
      </if>
      <if test="record.displayLoginTime != null">
        display_login_time = #{record.displayLoginTime,jdbcType=INTEGER},
      </if>
      <if test="record.posCenter != null">
        pos_center = #{record.posCenter,jdbcType=INTEGER},
      </if>
      <if test="record.posLefttop != null">
        pos_lefttop = #{record.posLefttop,jdbcType=INTEGER},
      </if>
      <if test="record.posLeftbottom != null">
        pos_leftbottom = #{record.posLeftbottom,jdbcType=INTEGER},
      </if>
      <if test="record.posRighttop != null">
        pos_righttop = #{record.posRighttop,jdbcType=INTEGER},
      </if>
      <if test="record.posRightbottom != null">
        pos_rightbottom = #{record.posRightbottom,jdbcType=INTEGER},
      </if>
      <if test="record.layout != null">
        layout = #{record.layout,jdbcType=VARCHAR},
      </if>
      <if test="record.displayCondition != null">
        display_condition = #{record.displayCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.transparency != null">
        transparency = #{record.transparency,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.recStatus != null">
        rec_status = #{record.recStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tz_strategy_watermark
    set id = #{record.id,jdbcType=BIGINT},
      strategy_id = #{record.strategyId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      display_usrname = #{record.displayUsrname,jdbcType=INTEGER},
      display_pcname = #{record.displayPcname,jdbcType=INTEGER},
      display_ip = #{record.displayIp,jdbcType=INTEGER},
      display_login_time = #{record.displayLoginTime,jdbcType=INTEGER},
      pos_center = #{record.posCenter,jdbcType=INTEGER},
      pos_lefttop = #{record.posLefttop,jdbcType=INTEGER},
      pos_leftbottom = #{record.posLeftbottom,jdbcType=INTEGER},
      pos_righttop = #{record.posRighttop,jdbcType=INTEGER},
      pos_rightbottom = #{record.posRightbottom,jdbcType=INTEGER},
      layout = #{record.layout,jdbcType=VARCHAR},
      display_condition = #{record.displayCondition,jdbcType=VARCHAR},
      transparency = #{record.transparency,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      rec_status = #{record.recStatus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermark">
    update tz_strategy_watermark
    <set>
      <if test="strategyId != null">
        strategy_id = #{strategyId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="displayUsrname != null">
        display_usrname = #{displayUsrname,jdbcType=INTEGER},
      </if>
      <if test="displayPcname != null">
        display_pcname = #{displayPcname,jdbcType=INTEGER},
      </if>
      <if test="displayIp != null">
        display_ip = #{displayIp,jdbcType=INTEGER},
      </if>
      <if test="displayLoginTime != null">
        display_login_time = #{displayLoginTime,jdbcType=INTEGER},
      </if>
      <if test="posCenter != null">
        pos_center = #{posCenter,jdbcType=INTEGER},
      </if>
      <if test="posLefttop != null">
        pos_lefttop = #{posLefttop,jdbcType=INTEGER},
      </if>
      <if test="posLeftbottom != null">
        pos_leftbottom = #{posLeftbottom,jdbcType=INTEGER},
      </if>
      <if test="posRighttop != null">
        pos_righttop = #{posRighttop,jdbcType=INTEGER},
      </if>
      <if test="posRightbottom != null">
        pos_rightbottom = #{posRightbottom,jdbcType=INTEGER},
      </if>
      <if test="layout != null">
        layout = #{layout,jdbcType=VARCHAR},
      </if>
      <if test="displayCondition != null">
        display_condition = #{displayCondition,jdbcType=VARCHAR},
      </if>
      <if test="transparency != null">
        transparency = #{transparency,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="recStatus != null">
        rec_status = #{recStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylsq.frame.tianze.strategy.dao.model.TzStrategyWatermark">
    update tz_strategy_watermark
    set strategy_id = #{strategyId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      display_usrname = #{displayUsrname,jdbcType=INTEGER},
      display_pcname = #{displayPcname,jdbcType=INTEGER},
      display_ip = #{displayIp,jdbcType=INTEGER},
      display_login_time = #{displayLoginTime,jdbcType=INTEGER},
      pos_center = #{posCenter,jdbcType=INTEGER},
      pos_lefttop = #{posLefttop,jdbcType=INTEGER},
      pos_leftbottom = #{posLeftbottom,jdbcType=INTEGER},
      pos_righttop = #{posRighttop,jdbcType=INTEGER},
      pos_rightbottom = #{posRightbottom,jdbcType=INTEGER},
      layout = #{layout,jdbcType=VARCHAR},
      display_condition = #{displayCondition,jdbcType=VARCHAR},
      transparency = #{transparency,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      rec_status = #{recStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>