 
<div class="title_left">
	<h3>产品编辑</h3>
</div>

<div class="x_content">
	<br />
	<form id="editForm" data-parsley-validate class="form-horizontal form-label-left" action="$rc.contextPath/furniture/product/save" method="post">
		<input type="hidden" name="id" value="$!{model.id}">
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 商品名称 <span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="productName" value="$!{model.productName}" required="required" class="form-control col-md-7 col-xs-12">
			</div>
		</div>
		<div class="form-group">
		    <label for="dataType" class="control-label col-md-3 col-sm-3 col-xs-12"> 商品类别 </label>
		    <div class="col-md-6 col-sm-6 col-xs-12">
		    	#buildSelect ($productTypeList "productType" $!{model.productType} "value1" "value2")
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 原价
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="originalPrice" value="$!{model.originalPrice}"class="form-control col-md-7 col-xs-12">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 折后价
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="discountPrice" value="$!{model.discountPrice}"class="form-control col-md-7 col-xs-12">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 商品描述
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" name="description" value="$!{model.description}"class="form-control col-md-7 col-xs-12">
			</div>
		</div>
	
		<div class="ln_solid"></div>
		<div class="form-group">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	  			<button class="btn btn-primary" type="button" onclick="goback()">#springMessage("opration.cancel")</button>
	  			<button type="button" onclick="saveApp()" class="btn btn-success">#springMessage("opration.submit")</button>
	    	</div>
	  	</div>
	
	</form>
</div>
<script>
function goback(){
	location = "$rc.contextPath/furniture/product/list";
}
function saveApp(){
 	$("#editForm").submit();
}

</script>