 
<div class="title_left">
	<h3>组织机构编辑</h3>
</div>

<div class="x_content">
	<br />
	<form id="editForm" data-parsley-validate class="form-horizontal form-label-left" action="$rc.contextPath/tz/org/save" method="post">
		<input type="hidden" name="id" value="$!{model.id}">
		<input type="hidden" name="parentId" value="$!{parentOrg.id}">
		<div class="form-group">
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">机构名称 <span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" id="orgName" name="orgName" value="$!{model.orgName}" required="required" class="form-control col-md-7 col-xs-12">
			</div>
		</div>
		<div class="form-group">
			<label for="parentId" class="control-label col-md-3 col-sm-3 col-xs-12"> 上级机构<span class="required">*</span></label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input id="parentId" class="form-control col-md-7 col-xs-12" type="text"  value="$!{parentOrg.orgName}" readonly="true"  required="required"> 
	  		</div>
		</div>
	
		<div class="form-group">
			<label for="menuOrder" class="control-label col-md-3 col-sm-3 col-xs-12"> 法人代表</label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<input id="legalPerson" class="form-control col-md-7 col-xs-12" type="text" name="legalPerson" value="$!{model.legalPerson}"> 
			</div>
		</div>
		<div class="form-group">
			<label for="foundDate" class="control-label col-md-3 col-sm-3 col-xs-12"> 成立时间 </label>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
				  	<div class='input-group date' id='myDatepicker2'>
					  	<input type='text' class="form-control" name="foundDate" id="foundDate_text_id" value="$!date.format("yyyy-MM-dd",$!{model.foundDate} )"/>
					  	<span class="input-group-addon">
					 		<span class="glyphicon glyphicon-calendar"></span>
					  	</span>
				  	</div>
				</div>
			</div>
		</div>
	
		<div class="ln_solid"></div>
		<div class="form-group">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	  			<button class="btn btn-primary" type="button" onclick="goback()">Cancel</button>
	  			<button type="button" onclick="saveOrg()" class="btn btn-success">Submit</button>
	    	</div>
	  	</div>
	
	</form>
</div>
<script>
function goback(){
	location = "$rc.contextPath/tz/org/orglist/$!{parentOrg.id}";
}
function saveOrg(){
 	$("#editForm").submit();
}

function frameinit(){
	$('#myDatepicker2').datetimepicker({                                                                                                                                                      
		format: 'YYYY-MM-DD'
	});
}

</script>